<h1>Oauth#callback</h1>
<p>We got the UID for this user from https://oleadmin.ucc.nau.edu/api/user_session</p>
<p>expires = <%=@expires%></p>
<p>user_id = <%=@response["nau_user_id"]%></p>
<p>response = <%=@response%></p>
